form#reset-password(name="resetPassword", novalidate, ng-submit="reset(resetPassword.$valid)")
  h2 Reset your Password
  a.flat-view(href="", ng-click="showPassword('password')")
  input(name="password", type="{{typePassword.password}}",
    ng-model="password.password",
    ng-model-options="{ updateOn: 'blur' }",
    placeholder="New password",
    ng-minlength="6",
    ng-required="true")
  .errors(ng-show="resetPassword.$submitted && resetPassword.newPassword.$pristine")
    | Required!
  .errors(ng-show="resetPassword.newPassword.$error.minlength && resetPassword.newPassword.$dirty")
    | Requires 6 characters and contain number and letter
  a.flat-view(href="", ng-click="showPassword('confirmPassword')")
  input(name="confirmPassword", type="{{typePassword.confirmPassword}}",
    ng-model="password.confirmPassword",
    ng-model-options="{ updateOn: 'blur' }",
    placeholder="Confirm password",
    ng-minlength="6",
    ng-required="true",
    match-password="newPassword")
  .errors(ng-show="resetPassword.$submitted && resetPassword.confirmPassword.$pristine")
    | Required!
  .errors(ng-show="resetPassword.confirmPassword.$error.passwordMatch && resetPassword.confirmPassword.$dirty")
    | Password do not match!
  button.button-sign(type="submit") Save new password
