form.password-form(name="passwordForm", novalidate, ng-submit="changePassword(passwordForm.$valid)")
  #password-modal
    .modal-body
      h2 Password Change
      p
        | Your password must be at least 6 characters in length
        br
        | and contain a minimum of one number and one letter.
    .changePassword-input
      span Old password
      input(name="oldPassword", type="{{typePassword.old}}",
        ng-model="password.old",
        ng-model-options="{ updateOn: 'blur' }",
        placeholder="Enter your old password",
        autofocus,
        ng-required="true")
      div.flat-view(ng-click="showPassword('old')")
      .errors(ng-show="passwordForm.$submitted && passwordForm.oldPassword.$pristine")
        | Required!

      span New password
      input(name="newPassword", type="{{typePassword.new}}",
        ng-model="password.new",
        ng-model-options="{ updateOn: 'blur' }",
        placeholder="Enter your new password",
        ng-minlength="6",
        ng-required="true")
      div.flat-view(ng-click="showPassword('new')")
      .errors(ng-show="passwordForm.$submitted && passwordForm.newPassword.$pristine")
        | Required!
      .errors(ng-show="passwordForm.newPassword.$error.minlength && passwordForm.newPassword.$dirty")
        | Requires 6 characters and contain number and letter

      span Confirm password
      input(name="confirmPassword", type="{{typePassword.confirm}}",
        ng-model="password.confirm",
        ng-model-options="{ updateOn: 'blur' }",
        placeholder="Confirm your new password",
        ng-required="true",
        match-password="newPassword")
      div.flat-view(ng-click="showPassword('confirm')")
      .errors(ng-show="passwordForm.$submitted && passwordForm.confirmPassword.$pristine")
        | Required!
      .errors(ng-show="passwordForm.confirmPassword.$error.passwordMatch && passwordForm.confirmPassword.$dirty")
        | Password do not match!

    .modal-footer
      button(type="submit") Done
      button.btn-invert(type="reset", ng-click="close()") Cancel
